    <div class="cd-background-wrapper">
    
    <h1 class="">WELCOME TO B.I.F</h1>

        <figure class="cd-floating-background">
        
            
        
              <img src="/img/bridgeparallax/back.png" alt="">

          <img src="/img/bridgeparallax/mid.png" alt="">
          
           <img src="/img/BOOPOSTERPARALLAX/small-alien-3.png" alt="">
           
           <img src="/img/BOOPOSTERPARALLAX/bigalien-3.png" alt="">

          <img src="/img/bridgeparallax/fore.png" alt="">
         


        </figure>
        
    <div class="main-nav">
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="#/guests">guests</a></li>
            <li><a href="">exhibitors</a></li>
        </ul>
        
    </div>
        
    </div>

    <section class="about"><h1 class="middle-align">
        WELCOME TO BRIGHTON ILLUSTRATION FAIR BITCHES
    </h1></section>

    <section class="contact">
        <h1 class="middle-align">
            contact us
        </h1>
    </section>
    
    
    <script src="js/parallax.js"></script>